.flashcard {
    font-size: 1rem;
    background-color: transparent;
    height: 25vh;
    width: 25vh;
    margin: 5% auto;
    justify-self: center;
}

.flashcard:hover {
    .flashcard-inner {
        transform: rotateY(180deg);
    }

    .flashcard-front {
        opacity: 0;
    }
}

.flashcard-inner {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flashcard-front,
.flashcard-back {
    text-align: center;
    position: absolute;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
    transition: opacity 0.4s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.flashcard-image {
    height: 100%;
    width: auto;
}

.flashcard-back {
    transform: rotateY(180deg);

    p {
        font-weight: 700;
    }
}
