.content {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;

    &__articles {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin: 0 auto;

        @media (min-width: $desktop) {
            width: 60%;
            margin: 0;
        }
    }

    &__single-article {
        text-align: center;

        @media (min-width: $tablet) {
            padding: 3rem;
        }
    }

    &__opinions {
        background: white;
        height: 30vh;
        width: 100%;
        margin: 0 auto;
    }

    &__trusted-us {
        margin: 1.5rem 0 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background: url('../images/mobile-zaufali-nam.png') no-repeat;
        height: 30vh;
        width: 80%;

        @media (min-width: $tablet) {
            background: url('../images/desktop-zaufali-nam.png') no-repeat;
            background-size: contain;
            height: 25vh;
            width: 100%;
            margin: 0 auto;
        }
    }

    .meet-me {
        width: 60%;
        margin: 0 auto;
    }
}

.icon-image {
    height: 22vh;
    width: auto;
    margin: 5% 0;
}

.with-us-image {
    height: 8vh;
    width: auto;
    display: block;
    margin: 0 auto;
}

.offer-list {
    margin: 5% 10% 0;
    text-align: left;
    font-weight: bold;
    font-size: 18px;

    ul {
        list-style: none;

        p {
            text-indent: -1.15em;
            margin-bottom: 0.75em;
        }

        p::before {
            color: rgb(240, 82, 61);
            content: '◊ ';
            padding-right: 5px;
        }
    }
}

#about-me,
#teaching,
#partnership,
#opinions,
#contact {
    margin: 0 5vw;
    padding-top: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.wanted-img {
    margin: 0 auto;
    height: 70vh;
    margin-top: 5vh;
    display: block;

    @media (min-width: $desktop) {
        height: 85vh;
    }
}
