.content {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}

.content-aside-pic {
    background: url('../images/IMG_20200609_171027.jpg') no-repeat;
    min-width: 30%;
    height: 85vh;
    border: 1rem solid green;
}