.content {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;

    &__articles {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin: 0 auto;

        @media (min-width: $desktop) {
            width: 60%;
            margin: 0;
        }
    }

    &__single-article {
        text-align: center;
        margin-bottom: 2rem;

        @media (min-width: $tablet) {
            padding: 3rem;
            margin: none;
        }
    }

    &__opinions {
        background: white;
        height: 30vh;
        width: 100%;
        margin: 0 auto;
    }

    &__trusted-us {
        margin: 1.5rem 0 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background: url('../images/mobile-zaufali-nam.png') no-repeat;
        height: 40vh;
        width: 90%;

        @media (max-width: 360px) {
            width: 105%;
        }

        @media (min-width: $tablet) {
            background: url('../images/desktop-zaufali-nam.png') no-repeat;
            background-size: contain;
            height: 25vh;
            width: 100%;
            margin: 0 auto;
        }
    }

    .meet-me {
        width: 60%;
        margin: 0 auto;
    }
}

.icon-image {
    height: 22vh;
    width: auto;
    margin: 5% 0;
}

.offer-list {
    margin: 5% 10% 0;
    text-align: left;
    font-weight: bold;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;

    ul {
        list-style: none;

        p {
            text-indent: -1.15em;
            margin-bottom: 0.75em;
        }

        p::before {
            color: rgb(240, 82, 61);
            content: '◊ ';
            padding-right: 5px;
        }
    }

    .price {
        height: 35vh;
        width: auto;
        margin: 5% 0;

        @media (min-width: $tablet) {
            height: 55vh;
        }
    }

    @media (min-width: $tablet) {
        font-size: 14px;
    }
}

.offer-subtitle {
    padding-top: 3vh;
    font-size: 16px;
    @media (min-width: $tablet) {
        font-size: 20px;
    }
}

#about-me,
#teaching,
#partnership,
#opinions,
#contact {
    margin: 0 5vw;
    padding-top: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @media (min-width: $desktop) {
        padding-top: 5vh;
    }
}

.wanted-img {
    margin: 0 auto;
    height: 70vh;
    margin-top: 5vh;
    display: block;

    @media (min-width: $desktop) {
        height: 85vh;
    }
}

.headers {
    width: 95%;
    max-width: 300px;
    height: auto;
}

.big {
    width: 65%;

    @media (min-width: $desktop) {
        width: 50%;
    }
}

.download-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    .btn {
        font-size: 14px;
        font-weight: bold;
        outline: none;
        border-radius: 5px;
        padding: 10px;
        margin: 15px;
        border: 1px solid black;
        background: rgba(243, 231, 177, 0.6);
        transition: all 0.5s ease-in-out;
    }

    .btn:hover {
        background: rgba(243, 231, 177, 0.4);
    }

    .btn:active {
        border: 1px solid gray;
    }

    @media (min-width: $tablet) {
        .btn {
            font-size: 16px;
        }
    }
}
