nav {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    overflow: hidden;
    background-color: #e7f2f0;
    width: 100vw;
    scroll-behavior: smooth;
}

.nav-logo {
    visibility: hidden;
    margin: 3vh 0;
    display: flex;
    justify-content: center;
    transition: visibi 0.5s ease-in-out;

    img {
        max-height: 10vh;
        width: auto;
    }
}

.nav-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.sticky {
    position: fixed;
    top: 0;

    .nav-logo {
        visibility: visible;
    }
}

.content {
    padding: 0;
}

@media (min-width: $tablet) {
    nav {
        flex-direction: row;
    }

    .nav-list {
        margin-right: 5vw;
        align-items: right;
        justify-content: flex-end;

        .nav-item {
            padding: 2vw;
        }
    }

    .nav-logo {
        img {
            height: 8vh;
        }
    }
}

@media (min-width: $desktop) {
    nav {
        width: 60%;
    }
}