.slick-container {
    width: 90%;
    height: 50vh;
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
    
    .slick-track {
        display: flex;
        align-items: center;
        text-align: center;
    }

    .slick-slide {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px;
    }

    .arrow {
        background: none;
        border: none;
        outline: none;
        cursor: pointer;
    }
}
