@import './const.scss';

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-family: 'Baloo Tamma 2', cursive;
    font-size: 16px;
    font-weight: 500;
    background-color: rgb(255, 255, 255);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

@import './hero-style.scss';
@import './nav-style.scss';
@import './main-style.scss';
@import './aside-style.scss';
@import './slick.scss';
@import './slick-style.scss';
@import './contact-style.scss';
@import './flashcards-style.scss';
@import './footer-style.scss';
